#main
  %h1#name Stephen Caudill

  %p#nomdeplume vox dolo

  %ul#social
    %li
      %a{:href => 'http://blog.voxdolo.me'} Blog
    %li
      %a{:href => 'http://twitter.com/voxdolo'} Twitter
    %li
      %a{:href => 'http://github.com/voxdolo'} GitHub
  %ul#profiles
    %li
      %a{:href => 'http://www.workingwithrails.com/person/5762-stephen-caudill'} WWR
    %li
      %a{:href => 'http://linkedin.com/in/voxdolo'} LinkedIn
  %ul#products
    %li
      %a{:href => 'http://tomatoist.com'} Tomatoist
= erb(:ga)
